<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_with(model: setlist, local: true) do |form| %>
      <% if setlist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(setlist.errors.count, "error") %> prohibited this setlist from being saved:</h2>

          <ul>
          <% setlist.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control input-lg" %>
      </div>

      <div class="form-group">
        <%= form.label :notes, "Notes (optional)" %>
        <%= form.text_area :notes, class: "form-control input-lg" %>
      </div>

      <div class="form-group practice-radios">
        <%= form.radio_button :practice, "true" %>
        <%= form.label :practice_true, "Practice" %>
        <%= form.radio_button :practice, "false" %>
        <%= form.label :practice_false, "Show" %>
      </div>

      <div class="form-group songs">
        <h3>SONGS</h3>
        <p class="help-block hide-on-mobile">
          Click to add. Click to remove. Drag to reorder.
        </p>
        <p class="help-block hide-on-desktop">
          Tap to add. Tap to remove.<br/>
          Drag to reorder. Scroll using the margins.
        </p>
        <ul class="list-unstyled checkboxes sortable">
          <% @setlist.songs_for_form.each do |song| %>
            <li>
              <%= check_box_tag "setlist[song_ids][]", song.id, @setlist.songs.include?(song), id: song.name.parameterize %>
              <%= label_tag song.name.parameterize, song.name %>
            </li>
          <% end %>
        </ul>
        <p class="help-block">Add new songs <%= link_to "here", new_song_path %></p>
      </div>

      <% if @setlist.audios.attached? %>
        <label>Audios</label>
        <ul class="list-unstyled">
          <% @setlist.audios.each do |audio| %>
          <li class="big-and-centered">
            <audio src="<%= url_for(audio) %>" controls></audio>
            <p class="pull-right">
              <%=
                link_to "🗑",
                setlist_audio_destroy_path(@setlist, audio),
                method: :delete,
                data: { confirm: 'Are you sure you wanna delete this audio?' }
              %>
            </p>
            <p class="audio-info text-left">
              <%= audio.blob.filename.base %>
              <small><%= audio.created_at.strftime("%B %d, %Y") %></small>
            </p>
          </li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group audios">
        <%= form.label :audios, "Add Audios (optional)" %>
        <%= form.file_field :audios, multiple: true, id: :setlist_audios, class: "form-control input-lg" %>
        <p class="help-block text-left">You can add audio later by editing this setlist</p>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-lg btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>
