<table class="table">
  <thead>
    <tr>
      <th>Setlist</th>
      <th class="text-center">Songs</th>
      <th class="text-center hide-on-mobile">Audios</th>
      <th class="text-center">Date</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @setlists.each do |setlist| %>
      <tr>
        <td>
          <small><%= setlist.type %></small>
          <%= link_to setlist.name, setlist %>
        </td>
        <td class="text-center">
          <ul class="list-unstyled hide-on-mobile">
            <% setlist.songs.each do |song| %>
              <li><%= link_to song.name, song %></li>
            <% end %>
          </ul>
          <span class="hide-on-desktop"><%= setlist.songs.size %></span>
        </td>
        <td class="text-center hide-on-mobile"><%= setlist.audios.size %></td>
        <td class="text-center"><%= setlist.played_on.strftime("%b %e") %></td>
        <td class="text-right">
          <ul id="actions" class="list-inline">
            <li><%= link_to 'âœï¸', edit_setlist_path(setlist) %></li>
            <li><%= link_to 'ðŸ—‘', setlist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
