<h4 class="pull-right"><%= link_to 'New Setlist', new_setlist_path %></h4>
<h1>Set Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Songs</th>
      <th class="text-center">Date</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @setlists.each do |setlist| %>
      <tr>
        <td><%= setlist.name %></td>
        <td class="text-center"><%= setlist.songs.size %></td>
        <td class="text-center"><%= setlist.created_at.strftime("%F") %></td>
        <td class="text-center">
          <ul class="list-inline">
            <li><%= link_to 'ðŸ”Ž', setlist %></li>
            <li><%= link_to 'âœï¸', edit_setlist_path(setlist) %></li>
            <li><%= link_to 'ðŸ—‘', setlist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
