<h2><%= @setlist.name %></h2>

<p><%= @setlist.type %> on <%= @setlist.created_at.strftime("%B %e, %Y") %></p>

<p><%= @setlist.notes %></p>

<ul class="list-unstyled">
<% @setlist.songs.each do |song| %>
  <li class="song"><%= song.name %></li>
<% end %>
</ul>

<p><%= link_to 'Edit', edit_setlist_path(@setlist) %></p>
