<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p><small><%= @setlist.type %> on <%= @setlist.created_at.strftime("%B %e, %Y") %></small></p>

    <h2><%= @setlist.name %></h2>

    <p><%= @setlist.notes %></p>

    <ul class="list-unstyled setlist">
      <% @setlist.songs.each do |song| %>
        <li class="big-and-centered"><%= song.name %></li>
      <% end %>
    </ul>

    <% if @setlist.audios.attached? %>
      <h2>Audios</h2>
      <ul class="list-unstyled">
        <% @setlist.audios.each do |audio| %>
          <li class="big-and-centered">
            <audio src="<%= url_for(audio) %>" controls></audio>
            <p class="audio-info">
              <%= audio.blob.filename.base %>
              <small><%= audio.created_at.strftime("%B %d, %Y") %></small>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>

    <p><%= link_to 'Edit', edit_setlist_path(@setlist) %></p>
  </div>
</div>
