<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_with(model: song, local: true) do |form| %>
      <% if song.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

          <ul>
          <% song.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control input-lg" %>
      </div>

      <% if @song.audios.attached? %>
        <label>Audios</label>
        <ul class="list-unstyled">
          <% @song.audios.each do |audio| %>
          <li class="big-and-centered">
            <audio src="<%= url_for(audio) %>" controls></audio>
            <p class="pull-right">
              <%=
                link_to "🗑",
                song_audio_destroy_path(@song, audio),
                method: :delete,
                data: { confirm: 'Are you sure you wanna delete this audio?' }
              %>
            </p>
            <p class="audio-info text-left">
              <%= audio.blob.filename.base %>
              <small><%= audio.created_at.strftime("%B %d, %Y") %></small>
            </p>
          </li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group audios">
        <%= form.label :audios, "Add Audios (optional)" %>
        <%= form.file_field :audios, multiple: true, id: :song_audios, class: "form-control input-lg" %>
        <p class="help-block">You can add audio later by editing this song</p>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-lg btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>
