<h4>
  <%= link_to 'New Song', new_song_path %> /
  <%= link_to 'Setlists', setlists_path %>
</h4>

<table class="table">
  <thead>
    <tr>
      <th>Songs</th>
      <th class="text-center">Audios</th>
      <th class="text-center">Practices</th>
      <th class="text-center">Shows</th>
      <th class="text-center">Total</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song %></td>
        <td class="text-center"><%= song.audios.size %></td>
        <td class="text-center"><%= song.practices_count %></td>
        <td class="text-center"><%= song.shows_count %></td>
        <td class="text-center"><%= song.setlists_count %></td>
        <td class="text-center actions">
          <ul id="actions" class="list-inline">
            <li><%= link_to 'âœï¸', edit_song_path(song) %></li>
            <li><%= link_to 'ðŸ—‘', song, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
