<h4 class="pull-right"><%= link_to 'New Song', new_song_path %></h4>
<h1>Songs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Count</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td class="text-center"><%= song.setlists.size %></td>
        <td class="text-center actions">
          <ul class="list-inline">
            <li><%= link_to 'âœï¸', edit_song_path(song) %></li>
            <li><%= link_to 'ðŸ—‘', song, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
