<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3><%= @song.name %></h3>

    <ul class="list-unstyled">
      <% @song.audios.each do |audio| %>
        <li class="song">
          <audio src="<%= url_for(audio) %>" controls></audio>
          <p class="audio-info">
            <%= audio.blob.filename.base %>
            <small><%= audio.created_at.strftime("%B %d, %Y") %></small>
          </p>
        </li>
      <% end %>
    </ul>

    <p><%= link_to 'Edit', edit_song_path(@song) %> | <%= link_to 'Back', songs_path %></p>
  </div>
</div>
